*
{
    margin: 0;
    padding: 0;
    color: ghostwhite;
}

.cnt-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.h-right, .h-left
{
    width: 100%;
    height: 100%;
}

.h-right
{
    background: linear-gradient(to right, #020202 -4%, transparent), url('../../Assets/portfolio.png') no-repeat;
    background-size: 100%;
    background-position-y: 15%;
}

.h-left
{
    background: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-information
{
    background: url('../../Assets/laptop.png') no-repeat center;
    background-size: 90%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 70%;
    width: 70%;
}

.dev-information p
{
    text-align: center;
    width: 80%;
    color: ghostwhite;
    font-size: 2em;
    margin-top: 5%;
    padding: 3%;
}

.dev-information span
{
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(10, 156, 130);
    padding: 1%;
}

.utn-text-info p:nth-child(1)
{
    font-size: 1.5em;
}

.utn-text-info p:nth-child(2)
{
    font-size: 0.7em;
    color: rgb(10, 156, 130);
}

.utn-text-info
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.utn-text-info p
{
    text-transform: uppercase;
    font-family: 'arcade';
}

.cv
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
    margin-top: 10%;
    width: 50%;
}

.cv a
{
    font-size: 2.5em;
    color: ghostwhite;
    animation: move 1.5s infinite linear;
    text-decoration: none;
}

.cv p
{
    width: 50%;
    font-size: 1em;
}

@keyframes move
{
    0%{transform: translateY(0%);}
    50%{transform: translateY(20%);}
    100%{transform: translateY(0%);}
}

@media (max-width: 500px) and (max-height: 812px)
{
    .cnt-header
    {
        flex-wrap: wrap;
        height: 200%;
    }

    .h-right, .h-left
    {
        width: 100%;
        height: 50%;
    }

    .h-right
    {
        background: linear-gradient(#020202 -4%, transparent), url('../../Assets/portfolio.png') no-repeat;
        background-size: cover;
        background-position-y: 0;
    }

    .utn-text-info p:nth-child(1)
    {
        font-size: 0.5em;
    }

    .dev-information
    {
        background-size: 100%;
        width: 95%;
    }

    .dev-information p
    {
        font-size: 1.5em;
    }

    .cv p
    {
        width: 100%;
    }
    
}